<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="main container-fluid d-flex no_padding">
			<div class="o-lines_background">
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
			</div>
		<section class="menu col-1 no_padding">
			<div class=" nav flex-column">
				<!--<div class="logo"><a href="/">Dy-News</a></div>-->
				<div class="logo"><a href="/"><img src="/assets/img/image.png" alt=""></a></div>
			<ul class="nav flex-column">
				<li class="nav-item">
				 <a class="nav-link" href="/sports">Sport</a>
				</li>
				<li class="nav-item">
				 <a class="nav-link" href="/technology">Technology</a>
				</li>
				<li class="nav-item">
				 <a class="nav-link" href="/science">Science</a>
				</li>
				<li class="nav-item">
				 <a class="nav-link" href="/entertainment">Entertainment</a>
				</li>
			</ul>
			
				<a href="/about" class="contact_us">About Us</a>
			
			</div>
		</section>
		<section class="news col-11 no_padding">
			<div class="news_cat container-fluid d-flex no_padding">
				<div class="news_cat_text no_padding col-8">
					<h1 class="firstH">Important News</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem eaque molestiae porro, eum!</p>
				</div>
				<div class="news_cat_img no_padding col-4">
						<div class="img1"></div>
				</div>
			</div>

			<div class="news_cat container-fluid d-flex no_padding">
				<div class="news_cat_img no_padding col-8">
						<div class="img2"></div>
				</div>
				<div class="news_cat_text no_padding col-4">
						<h1 class="moveHeaderLeft">You also would like this</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem eaque molestiae porro, eum! </p>
					<p class="subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="news_cat container-fluid d-flex no_padding">
				<div class="news_cat_text no_padding col-3">
					<h1>Check it</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem eaque molestiae porro, eum! Porro consectetur in sint alias nulla, tempora beatae dolores, nisi culpa enim a temporibus aspernatur quas, non!</p>
				</div>
				<div class="news_cat_img no_padding col-9">
					<div class="img3"></div>
				</div>
			</div>			
		</section>
	</div>
	  
</body>

<script>
	$(document).ready(function(){
  $('select').formSelect();
});
  </script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>