<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

		<style>
			.news_cat.container-fluid.d-flex.no_padding {
    display: flex;
    justify-content: center;
}

		button#downvote {
    color: #f7d781;
    font-size: 4.5rem;
    text-decoration: #f7d781 underline;
    z-index: 100;
    border: none;
    background: none;
}
button#downvote:hover {
    color: black;
    text-decoration: black underline;
	transition: all 1s;
}
button#reset {
    visibility: hidden;
}
div#sportsnews img {
    width: 49.999998vw;
}
div#sportsnews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img4{
	background-color: #cccccc;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	width: 100%;
	height:100%;
}
.img4{background-image: url("assets/img/img4.jpg");}
		</style>

	<div class="main container-fluid d-flex no_padding">
			<div class="o-lines_background">
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
					<span class="o-lines-background_line"></span>
			</div>
		<section class="menu col-1 no_padding">
			<div class=" nav flex-column">
				<div class="logo"><a href="index.html">Dy-News</a></div>
				<ul class="nav flex-column">
					<li class="nav-item">
					 <a class="nav-link" href="/sports">Sport</a>
					</li>
					<li class="nav-item">
					 <a class="nav-link" href="/technology">Technology</a>
					</li>
					<li class="nav-item">
					 <a class="nav-link" href="/science">Science</a>
					</li>
					<li class="nav-item">
					 <a class="nav-link" href="/entertainment">Entertainment</a>
					</li>
				</ul>
			
				<a href="/about" class="contact_us">About Us</a>
			
			</div>
		</section>
		<section class="news col-11 no_padding">
		<div id="sportsnews"></div>
		<div class="news_cat container-fluid d-flex no_padding">
				<div class="news_cat_text no_padding col-4">
					<div id="button">
						<button id = "downvote">Sport News</button>
						<button id = "reset">Reset</button>
					</div>
					<p>Enjoy our sports news collection!</p>
				</div>
				<div class="news_cat_img no_padding col-4">
						<div class="img4"></div>
				</div>			
		</section>
	</div>

	<script type='text/javascript'>

		$('#downvote').on('click', function(){
		  console.log("clicked submit");
		  var queryURL = " https://newsapi.org/v2/everything?q=sports&apiKey=c774e4cd5e214a22b0ed485d8fd28386";
				console.log(queryURL);    
		  
				$.ajax({url:queryURL, method: 'GET'})
					.done(function(response){
						 console.log(response);
						  var i = Math.floor(Math.random() * 21);
						  console.log(i);  
						  for(var i; i<response.articles.length; i++){
						 $('#sportsnews').append("<h3> "+response.articles[i].title+"</>");
						 $('#sportsnews').append("<p>Article: "+response.articles[i].description+"</p>");
						 $('#sportsnews').append("<img src='"+response.articles[i].urlToImage+"'>");
						 $('#sportsnews').append("<a><href="+response.articles[i].url+"></a>");
					  
						  }
						 })
				   });
		
$('#reset').on('click', function(){
   console.log("clicked reset");
        $("#sportsnews").empty("");
        
      })

		 </script>
</body>
</html>